.footerHomeContainer{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.37);
    color: whitesmoke;
}
.footerHomeContainer img{
width: 150px;
height: auto;
object-fit: cover;
}
.footerHomeContainer h1{
    font-size: 30px;
}