<div class="catalogoHomeConatiner">

    <ng-container *ngIf="(asyncTabs | async) === null">
        <div class="loaderCatalogoHome">

            <mat-progress-bar class="green-progress" mode="indeterminate" ></mat-progress-bar>
        </div>
    </ng-container>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab *ngFor="let tab of asyncTabs | async">
            <ng-template mat-tab-label>{{tab.label}}</ng-template>
            <div class="productCatalogoContainer">

                <div *ngFor="let producto of tab.content" class="productCatalogo mat-elevation-z1">
                    <img [src]="producto.img" alt="">
                    <div class="descriptionProductoCatalogo">
                        <div>

                            <h2 class="nombreProducto">{{producto.nombre}}</h2><br>
                            <span>{{producto.detalle}}</span>
                        </div>

                        <div>

                            <h3>{{producto.unidad}} a S/.{{producto.precio}} </h3>
                            <div class="cantidadProductoCatalogo">
                                <div class="optionCantidad" (click)="add(producto,'menos')">-</div>
                                <input type="number" min="0" max="99" [(ngModel)]="producto.cantidad">
                                <div class="optionCantidad" (click)="add(producto,'mas')">+</div>
                            </div>
                            <h2 >S/. {{producto.total}}</h2>
                        </div>

                    </div>
                </div>

            </div>

        </mat-tab>
    </mat-tab-group>
</div>