.catalogoHomeConatiner {
  background-color: whitesmoke;
}
.loaderCatalogoHome{
  height: 5vh;
  width: 96%;
  padding: 2%;
}
.green-progress .mat-progress-bar-fill::after {
  background-color: #6e2727 !important;
}
.green-progress .mat-progress-bar-buffer {
  background-color: #6e27274f !important;
}


.mat-tab-label.mat-tab-label {
  color: #6e2727;
  font-weight: 700;
}
.mat-tab-label.mat-tab-label-active {
  background-color: #663333;
  color: white;
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: #663333 !important;
}
.productCatalogoContainer {
height: 104%;
  margin: 2%;
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(3, 1fr);
}
.productCatalogoContainer .productCatalogo {

   border-radius: 8px;
overflow: hidden;
  height: 56vh;
}
.productCatalogo img {
  width: 100%;
  height: 150px;
  object-position: 20% 10%;
  object-fit: cover;
}
.productCatalogo .descriptionProductoCatalogo {
  margin: 3%;
  height: 35vh;
  // background-color: rgba(0, 0, 255, 0.144);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.descriptionProductoCatalogo .nombreProducto{
display: inline-block;
margin: 0;
color: rgb(82, 8, 8);
}
.descriptionProductoCatalogo span{
  display: inline-block;
  color: rgb(44, 44, 44);
  font-size: 16px;
  margin-bottom: 5%;
  }
.cantidadProductoCatalogo {
  display: grid;
  width: 98%;
  grid-template-columns: 1fr 1fr 1fr;
  height: 60px;
  border-radius: 8px;
  border: 1px solid black;
  overflow: hidden;
}
.optionCantidad {
  user-select: none; 
  cursor: pointer;
  background-color: rgba(255, 235, 205, 0.575);
  display: grid;
  place-items: center;
  font-size: 40px;
}
.optionCantidad:hover {
  background-color: rgb(255, 235, 205);
  font-size: 50px;
}
.optionCantidad:active {
  background-color: rgba(255, 235, 205, 0.575);
  font-size: 40px;
}
.cantidadProductoCatalogo input {
  border: none;
  font-size: 24px;
  width: 100%;
  text-align: center;
}
.cantidadProductoCatalogo input:focus {
  border: blue;
}
@media (max-width: 1200px) {
  .productCatalogoContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 950px) {
  .productCatalogoContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
