<div class="homeContainer">
    <div class="homeCenter">
        <app-header-home></app-header-home>
        <app-catalogo-home></app-catalogo-home>
        <app-formulario-home></app-formulario-home>
    </div>
    <app-footer-home class="miFooterHome"></app-footer-home>
</div>