.homeContainer{
    width: 100%;
    background-color: rgba(119, 67, 0, 0.863);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.homeContainer .homeCenter{
    background-color: rgba(20, 119, 0, 0.089);
    width: clamp(380px,60%,1000px);
}
.miFooterHome{
    width: 100%;
}