.formularioHomeContainer {
  text-align: center;
  color: whitesmoke;
  margin: 5% 0;
}
.formularioHomeContainer h1 {
  font-size: 50px;
  margin: 8% 0;
  line-height: 60px;
}

.formularioHomeContainer .formContainer {
  width: 96%;
  margin: 0 2%;
  //   background-color: rgba(255, 255, 0, 0.295);
  display: grid;
  grid-template-columns: minmax(150px, 30%) 1fr;
  gap: 5%;
}
.formContainer label {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.formContainer input {
  color: black;
  font-size: 18px;
}
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #663333 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 6px;
}

agm-map {
  height: 300px;
}

.formMapTitle{
  width: 100%;
  display: flex;
  margin: 4% 0 1%;
}
.matGroupMetodoPago{
  background-color: rgba(245, 245, 245, 0.74);
}
.matTabContainer{
  margin: 5% 0;
  color: rgb(36, 35, 35);
}

.btnFormHome{
  margin-top: 5%;
  padding: 3% 0;
  width: clamp(200px,60%, 500px);
  font-size: 28px;
  color: whitesmoke;
  background-color: #950000;
}