<div class="formularioHomeContainer">
  <h1>¿A dónde lo llevamos?</h1>

  <div class="formContainer">
    <label for="">Nombre y Apellidos</label>
    <mat-form-field appearance="outline">
      <input matInput type="text">
    </mat-form-field>
  </div>
  <div class="formContainer">
    <label for="">Celular</label>
    <mat-form-field appearance="outline">
      <input matInput type="text">
    </mat-form-field>
  </div>
  <div class="formContainer">
    <label for="">Dirección</label>
    <mat-form-field appearance="outline">
      <input matInput type="text">
    </mat-form-field>
  </div>
  <div class="formContainer">
    <label for="">¿Algún comentario?</label>
    <mat-form-field appearance="outline">
      <input matInput type="text">
    </mat-form-field>
  </div>
  <div class="formContainer">
    <label for="">Distrito</label>
    <mat-form-field appearance="outline">
      <input matInput type="text">
    </mat-form-field>
  </div>

  <div class="formMapTitle">

    <h2>Seleccione su Ubicación</h2>
  </div>
  <agm-map [latitude]="lat" [longitude]="lng" (mapReady)="onMapReady($event)" [zoom]='13'>
    <agm-marker [markerDraggable]="true" [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

  <h1>Método de Pago</h1>

  <mat-tab-group class="matGroupMetodoPago" mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="Depósito">
      <div class="matTabContainer">

        <h2>
          Depositar a:
        </h2>
        <h2>
          Cuenta BCP Ahorros Soles (Fernando G Oporto Lazo): <br>
          21524183001070
        </h2>
        <h2>
          Codigo Interbancario BCP Ahorros Soles (Fernando G Oporto Lazo): <br>
          002-21512418300107027
        </h2>
        <h2>
          Y enviar el deposito al Whatsapp 950133023
        </h2>
      </div>
    </mat-tab>
    <mat-tab label="Yape">
      <div class="matTabContainer">

        <img src="https://www.rhinoazul.com/wp-content/uploads/2019/06/baner-pagos.png" alt="">
      </div>
    </mat-tab>
    <mat-tab label="Efectivo">
      <div class="matTabContainer">
        <h2>Page al momento de la Entrega</h2>
      </div>
    </mat-tab>
  </mat-tab-group>

  <button mat-raised-button class="btnFormHome" (click)="btnClick()">Confirmar</button>
</div>