<div class="headerHomeContainer">

    <div class="titleHeaderHome"> Bodega <br> Gastromica</div>
    <img src="https://img.freepik.com/foto-gratis/apetitosa-comida-cajas-fiestas-corporativas_126801-88.jpg?size=626&ext=jpg" alt="">

</div>
